{% extends "layout.twig" %}

{% block content %}

<div class="text-container">

<div class="text">

    {{widget('content', 'helptext', {
        content: '<h1>For any support queries related to the BaseKit product, 
        please contact your vendor directly.</h1>'
    })|raw}}

</div>

</div>

{% endblock %}
