{% extends "layout.twig" %}

{% block content %}

<div class="text-container">

<div class="text">

	{{widget('content', 'logouttext', {
  		content: '<h1>You have safely logged out of the BaseKit Sitebuilder. 
		To log back in, please return to your Plesk control panel.</h1>'
	})|raw}}

</div>

</div>

{% endblock %}
